<%= render 'optimadmin/shared/header/main_title', title: 'Edit Organisation' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: organisations_path, title: 'Organisation' %>

  <%= render 'form', organisation: @organisation %>
</div>