<div class="row">
  <div class="small-12 columns">
    <h1>News</h1>

    <% unless @presented_articles.blank? %>
      <%= render partial: "article", collection: @presented_articles, as: :article_presenter %>
    <% else %>
      <p>
        Currently no articles
      </p>
    <% end %>
  </div>
</div>

