<%= render 'optimadmin/shared/header/main_title', title: 'New SubCategory' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: sub_categories_path, title: 'SubCategory' %>

  <%= render 'form', sub_category: @sub_category %>
</div>