<div>
  <h3 class="associated-title"><%= title %></h3>
  <ul class="associated-list">
    <% presented_resources.each do |resource_presenter| %>
      <li>
        <%= resource_presenter.linked_name %>
      </li>
    <% end %>
  </ul>
</div>
