<div class="row">
  <div class="small-12 columns">
    <%= link_to resource_presenter, class: "#{cycle("orange", "yellow", "red", "blue")} resource" do %>
      <%= resource_presenter.distance %>
      <h2>
        <%= resource_presenter.name %>
      </h2>
      <%= resource_presenter.summary %>
    <% end %>
  </div>
</div>