<div class="row">
  <div class="small-9 columns">
    <h1><%= @presented_resource.name %></h1>

    <%= @presented_resource.description %>
  </div>
  <div class="small-3 columns">
    <div>
      <h3>Other Resources by <%= @presented_resource.organisation_name %></h3>
      Related Resources Go Here
    </div>

    <div>
      FAQs Go here
    </div>
  </div>
</div>