<div class="row">
  <div class="small-9 columns">
    <h1><%= @presented_resource.name %></h1>

    <%= @presented_resource.description %>
  </div>
  <div class="small-3 columns">
    <div>
      <h4><%= @presented_resource.organisation_name %> Resources</h4>
    </div>

    <div>
      Related Resources Go Here
    </div>

    <div>
      FAQs Go here
    </div>

    <div>
      Related articles go here
    </div>
  </div>
</div>