%audience-button {
  display: inline-block;
  border-radius: 11px;
  font-size: em(12px);
  font-weight: $semibold;
  margin: em(15px, 12px) em(5px, 12px) em(5px, 12px);
  padding: em(2px, 12px) em(14px, 12px);

  &:hover {
    text-decoration: underline;
  }
}

.audience-categorisation {
  margin: 0 auto em(35px);

  .inner {
    margin: 0 em(15px);
  }

  .columns div {
    padding: em(10px) em(5px);
  }

  .blue {
    background: $pastel-blue;
  }

  .yellow {
    background: $pastel-yellow;
  }

  .red {
    background: $pastel-red;
  }

  .orange {
    background: $pastel-orange;
  }

  .first {
    padding-right: 0;
  }

  .middle {
    padding: 0;
  }

  .last {
    padding-left: 0;
  }

  p {
    color: $white;
    font-size: em(14px);
    font-weight: $semibold;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 0;
  }

  .white-button {
    @extend %audience-button;
    background: $white;
    color: $pastel-red;

    span {
      color: $pastel-yellow;
    }
  }

  .grey-button {
    @extend %audience-button;
    background: $dark-grey;
    color: $white;

    span {
      color: $pastel-red;
    }
  }
}
