.home-category {
  padding-bottom: 1.875em;

  .title a {
    background-color: $pastel-orange;
    color: $white;
    display: block;
    font-weight: $semibold;
    text-align: center;
    letter-spacing: 1px;
    padding: em(10px);

    @media screen and (max-width: 767px) {
      max-width: 224px;
    }

    &:hover {
      background-color: lighten($pastel-orange, 5%);
    }
  }

  span {
    color: $dark-grey;
  }
}
