a.resource {
  display:block;
  border-width: 3px;
  border-style: solid;
  margin: 10px auto;
  h2 {
    padding: 0;
    margin: 0;
  }
  padding: 7px;
  border-radius: 4px;
  &.yellow {
    border-color: $pastel-yellow;
  }
  &.orange {
    border-color: $pastel-orange;
  }
  &.red {
    border-color: $pastel-red;
  }
  &.blue {
    border-color: lighten($pastel-blue, 15%);
  }
  &:hover {
    border-color: $dark-grey;
    color: $dark-grey;
  }

  .organisation-location {
    color: $pastel-blue;
    .resource-organisation {
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 4px;
    }

  }
}

ul.resource-categories {
  list-style-type: none;
  li.resource-category {
    display: inline-block;
    color: white;
    padding: 3px;
    margin: 3px;
    border-radius: 2px;
    &.yellow {
      background-color: $pastel-yellow;
    }
    &.orange {
      background-color: $pastel-orange;
    }
    &.red {
      background-color: $pastel-red;
    }
    &.blue {
      background-color: $pastel-blue;
    }
  }
}

a.select-all-button, a.select-none-button {
  border: 1px solid $dark-grey;
  font-size: 0.9em;
  border-radius: 3px;
  color: $dark-grey;;
  outline: 0;
  padding: em(2px) em(3px);
  margin: em(2px);
  float: right;
}

.category-list {
  @extend %clearfix;
  h4 {
    display: inline-block;
    border-bottom: 1px dotted $dark-grey;
  }
}

.list-style-none {
  list-style: none;
}

.associated-title {
  margin: em(12px) 0;
}

.venue,
.location {
  p {
    margin: 0;
  }
}
