a.resource {
  display:block;
  border-width: 3px;
  border-style: solid;
  margin: 10px auto;
  h2 {
    padding: 0;
    margin: 0;
  }
  padding: 7px;
  border-radius: 4px;
  &.yellow {
    border-color: $pastel-yellow;
  }
  &.orange {
    border-color: $pastel-orange;
  }
  &.red {
    border-color: $pastel-red;
  }
  &.blue {
    border-color: $pastel-blue;
  }
  &:hover {
    border-color: $dark-grey;
    color: $dark-grey;
  }

  .organisation-location {
    color: $pastel-blue;
    .resource-organisation {
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 4px;
    }

  }

  ul.resource-categories {
    list-style-type: none;
    li.resource-category {
      display: inline-block;
      color: white;
      padding: 3px;
      border-radius: 2px;
      &.yellow {
        background-color: $pastel-yellow;
      }
      &.orange {
        background-color: $pastel-orange;
      }
      &.red {
        background-color: $pastel-red;
      }
      &.blue {
        background-color: $pastel-blue;
      }
    }
  }
}