<%= render 'optimadmin/shared/header/main_title', title: 'New Target Group' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: target_groups_path, title: 'Target Group' %>

  <%= render 'form', target_group: @target_group %>
</div>